.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.home-page {
  height: 100%;
  width: 100%;
}

.login-btn-center {
  right: 0%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.FBLogin {
  text-align: center;
  color: white;
  font-size: 200%;
  position: relative;
  top: 400px;
}
